html{
    background-color: lightblue;
    width: 100%;
}

body{
    width: 50%;
    align-self: center;
    align-items: center;
    align-content: center;
    background-color: grey;
    height: 50%;
    width: 40%;
    background-position: center;
    border-radius: 1%;
    
}

div{
    display: flex;
    flex-direction: column;
    border-radius: 1%;
}

footer{
    background-color: white;
    padding: 1px;
    text-align: center;
    color: black;
    
    bottom: 0;
    width: 100%;
}
